body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-section {
    margin-bottom: 20px;
}

.output-section {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.timings {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

h2 {
    color: #555;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="date"],
input[type="time"],
select,
button {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.date-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.date-section .timezone {
    flex-basis: 25%;
}

.date-section h3 {
    color: #555;
    margin-bottom: 10px;
}

.date-section p {
    color: #777;
    font-size: 14px;
}

.current-times-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    font-size: 14px; /* Adjust the font size as per your preference */
}

.current-times-section .timezone {
    flex-basis: 25%;
    text-align: center;
}

.current-times-section h3 {
    color: #555;
    margin-bottom: 10px;
    font-size: 14px; /* Adjust the font size as per your preference */
}

.current-times-section p {
    color: #777;
    font-size: 12px; /* Adjust the font size as per your preference */
}

/* Your existing CSS code */

/* Signature */
.signature {
    margin-top: 10px;
    color: #999;
    font-style: italic;
    font-size: 12px; /* Adjust the font size as needed */
}
